[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

docopt = "*"
pyfluidsynth = {git = "https://github.com/txomon/pyfluidsynth"}
pyaudio = "*"
pygments = "*"
pysoundfile = "*"
numpy = "*"


[dev-packages]

behave = "*"
pytest = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
ipython = "*"


[requires]

python_version = "3.5"
